@charset "UTF-8";
/*Шрифты*/
/*общее*/
/*шапка*/
/*герой*/
/*особенности*/
/*чем мы занимаемся*/
/*наша команда*/
/*постоянные клиенты*/
/*подвал*/
/*ПОРТФОЛИО*/
/*cссылки навигации*/
/*каталог портфолио*/
/*портфолио*/
/*модальное окно*/
/*форма модального окна*/
/*Карточка портфолио*/
ul, li, p, figure, h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

/*центрироване сираниц по горизонтали*/
.mai-page {
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.portfolio-page {
  margin: 0 auto 0 auto;
  overflow: hidden;
}

/*###ШАПКА###*/
/*блок шапка*/
.header {
  max-width: 1600px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ECECEC;
}

.header__conteiner {
  width: 1200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 0 auto;
}

/*блок логотипа*/
.logo {
  color: #000000;
  width: 145px;
  height: 31px;
  text-decoration: none;
  margin: 24px 93px 25px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.logo--footer {
  color: #fff;
}

.logo--footer:focus {
  text-decoration: underline;
  outline: none;
}

.logo__first-word {
  color: #2196F3;
}

/*блок навигация*/
.navigation {
  margin: 0 305px 0 0;
}

/*список навигации*/
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

/*элемент списка навигвции*/
.navigation__item {
  position: relative;
  padding: 32px 0 32px 0;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

/*ссылки навигации*/
.navigation__link {
  display: block;
  text-decoration: none;
  color: #212121;
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*ссылка текущей страницы*/
.navigation__link--accent {
  color: #2196F3;
}

.navigation__link--accent:focus {
  outline: 1px solid #000;
}

.navigation__link--accent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navigation__link--accent::after:hover {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navigation__link--underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px) scaleX(0);
          transform: translateY(1px) scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--underline:hover::after, .navigation__link--underline:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px) scaleX(1);
          transform: translateY(1px) scaleX(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*блок контактов*/
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*ссылки контактов*/
.header__address-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  width: 161px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address-link:hover, .header__address-link:focus {
  color: #2196F3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address-link--margin {
  margin-right: 0;
  width: 143px;
}

/*иконка почты*/
.header__address-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

/*иконка телефона*/
.header__address-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/*###ОСНОВНОЙ КОНТЕНТ###*/
/*Секция герой*/
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto 0 auto;
}

/* контейнер герой*/
.hero__conteiner {
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero_background/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_background/background.jpg);
  /*overflow: hidden;*/
}

/*скрытие загоровка*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*текст героя баннера*/
.hero__title {
  width: 696px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/*Кнопка героя*/
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: #2196F3;
}

.hero__button-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
}

/*секция особенности*/
/*скрытие элемента*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  max-width: 1600px;
  min-height: 251px;
  margin: 94px auto 0 auto;
}

/*блок особенности*/
.features__conteiner {
  width: 1200px;
  margin: 0 auto 0 auto;
}

/*список особенностей*/
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  /*outline: 1px solid greenyellow;*/
}

/*элемент списка*/
.features__item {
  width: 270px;
  /*outline: 1px solid green;*/
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

/*бокс иконки*/
.features__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

/*иконка*/
.features__icon {
  width: 70px;
  height: 70px;
}

/*оглавления элемента списка*/
.features__item-head {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/*текст элемента списка*/
.features__item-text {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/*секция чем мы занимаемся*/
.we-are-doing {
  max-width: 1600px;
  min-height: 386px;
  margin: 94px auto 0 auto;
  /* padding: 0 215px 0;*/
}

/*шапка секции*/
.we-are-doing__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}

/*контейнег секции*/
.we-are-doing__conteiner {
  width: 1200px;
  margin: 50px auto 0 auto;
}

/*список секции*/
.we-are-doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 50px auto 0 auto;
  padding: 0;
}

/*элемент списка секции*/
.we-are-doing__item {
  position: relative;
}

.we-are-doing__item:not(:last-child) {
  margin-right: 30px;
}

/*этикетка элемента*/
.we-are-doing__item-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0 27px 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/*текст этикетки*/
.we-are-doing___item-lable-text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

/*секция наша команда*/
.our-team {
  background-color: #F5F4FA;
}

/*оглавление секции*/
.our-team__head {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*контейнер наша команда*/
.our-team__conteiner {
  max-width: 1600px;
  min-height: 708px;
  margin: 94px auto 0 auto;
  padding-top: 94px;
}

/*список нашой команды*/
.our-team__list {
  min-width: 1200px;
  margin: 0 auto 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*элемент списка*/
.our-team__item:not(:last-child) {
  margin-right: 30px;
}

/*карточка члена команды*/
.our-team__card {
  width: 270px;
  height: 428px;
  margin: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*этикетка карточки*/
.our-team__card-caption {
  text-align: center;
  padding-top: 30px;
}

/*шапка карточки*/
.our-team__card-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: head-color;
}

/*специальность члена команды*/
.our-team__card-specialty {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/*список социальных сетей*/
.our-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 206px;
  height: 44px;
  margin: 16px auto 30px auto;
  list-style: none;
  padding: 0;
}

/*элемент списка социальных сетей*/
.our-team__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

/*ссылка соцсети*/
.our-team__social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: transparent;
  border-radius: 50%;
  /* margin-right: 10px; */
  color: #AFB1B8;
  -webkit-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:hover, .our-team__social-link:focus {
  background-color: #2196F3;
  border-radius: 50%;
  color: #fff;
  -webkit-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/*иконка соцсети*/
.our-team__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*секция постоянные клиенты*/
.regular-customers {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}

/*контейнер постоянные клиенты*/
.regular-customers__conteiner {
  width: 1200px;
  height: 182px;
  margin: 94px auto 94px auto;
}

/*шакпка секции*/
.regular-customers__head {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*список постоянных клиентов*/
.regular-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
}

/*элемент списка клиентов*/
.regular-customers__item {
  width: 170px;
  height: 90px;
}

.regular-customers__item:not(:last-child) {
  margin-right: 30px;
}

/*ссылка на клиента*/
.regular-customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  color: #AFB1B8;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer__link:hover, .regular-customer__link:focus {
  color: #2196F3;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*иконка логотипа клиента*/
.regular-customers__icon {
  fill: currentColor;
}

.regular-customers__icon--logo-1 {
  width: 45px;
  height: 50px;
}

.regular-customers__icon--logo-2 {
  width: 40px;
  height: 52px;
}

.regular-customers__icon--logo-3 {
  width: 41px;
  height: 43px;
}

.regular-customers__icon--logo-4 {
  width: 80px;
  height: 42px;
}

.regular-customers__icon--logo-5 {
  width: 59px;
  height: 47px;
}

.regular-customers__icon--logo-6 {
  width: 89px;
  height: 46px;
}

/*подвал*/
.footer {
  background-color: #2F303A;
}

/*секция подвал*/
.footer__section {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}

/*контейнер подвала*/
.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1200px;
  margin: 0 auto 0 auto;
}

/*блок ссылок*/
.footer__links-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}

/*группа ссылок*/
.footer__address {
  padding: 0;
  margin-top: 20px;
}

/*список ссылок*/
.footer__address__list {
  padding: 0;
  list-style: none;
}

/*элемент списка ссылок*/
.footer__address-contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

/*ссылка на гугл карту*/
.footer__location-on-map {
  color: #fff;
  text-decoration: none;
}

.footer__location-on-map:focus {
  text-decoration: underline;
  outline: none;
}

/*ссылка на почту и телефон*/
.footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__contact-link:focus {
  text-decoration: underline;
  outline: none;
}

/*блок ссылок соцсетей*/
.social {
  margin: 72px 0 100px 0;
}

/*текст призыва*/
.social__slogan {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

/*список иконок соцсетей*/
.social__connect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

/*элементы списка*/
.social__connect-item {
  margin-right: 10px;
}

/*ссылка соцсети*/
.social__connect-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__connect-link:focus, .social__connect-link:hover {
  border-radius: 50%;
  background-color: #2196F3;
  outline: none;
}

/*иконка соцсети*/
.social__connect-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*блок подписания на рассылку*/
.subscribe {
  width: 570px;
  height: 86px;
  margin: 72px 0 94px 93px;
}

/*призыв*/
.subscribe__slogan {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

/*форма подписания*/
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*поле ввода*/
.subscribe__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus {
  border: 2px solid #2196F3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/*кнопка*/
.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*текст кнопки*/
.subscribe__button-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: #fff;
}

/*иконка кнопки*/
.subscribe__button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*Модальное окно*/
/*бекдроп модального окна*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  background-color: rgba(0, 0, 0, 0.5);
}

/*скрытие бекдропа*/
.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*модальное окно*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) perspective(500px) rotateY(0deg);
          transform: translate(-50%, -50%) scale(1) perspective(500px) rotateY(0deg);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
}

.backdrop.is-hidden > .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0) perspective(500px) rotateY(90deg);
          transform: translate(-50%, -50%) scale(0) perspective(500px) rotateY(90deg);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
}

/*кнопка закрытия окна*/
.modal__round-button-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__round-button-close:focus {
  outline: none;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #ffffff;
}

/*иконка кнопки закрытия окна*/
.modal__close-icon {
  width: 12px;
  height: 12px;
}

.modal__round-button-close:hover > .modal__close-icon, .modal__round-button-close:focus > .modal__close-icon {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*шапка модального окна*/
.modal__head {
  width: 448px;
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}

/*блок форма ввода*/
.form {
  width: 448px;
  height: 342px;
  margin-top: 12px;
}

/*элемент формы для вводв*/
.form__blok {
  position: relative;
  width: 448px;
  height: 58px;
  margin-top: 10px;
}

/*название поля ввода*/
.form__lable {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  /*letter-spacing: 0.01em;*/
  color: #757575;
}

/*поле ввода*/
.form__input {
  width: 448px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 11px 11px 42px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*иконка поля ввода*/
.form__input-icon {
  position: absolute;
  left: 15px;
  top: 35px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus ~ .form__input-icon {
  fill: #2196F3;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*элемент формы для комментария*/
.form__commits {
  width: 448px;
  margin-top: 10px;
}

.form__commits::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__commits:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__commits::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__commits::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*поле ввода коментария*/
.form__area-commits {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__area-commits:focus {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #2196F3;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*чекбокс*/
.form__checkbox {
  position: relative;
  width: 448px;
  height: 24px;
  margin: 20px auto 0;
}

.form__checkbox input[type='checkbox'] {
  /*скпываем элемент*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox-lable {
  margin-left: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

/*иконка чекбокса*/
.form__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox input[type='checkbox']:checked + .form__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url("../../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: #2196F3;
  border: 2px solid transparent;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*ссылка на условия контракта*/
.form__checkbox-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #2196F3;
}

/*кнопка формы*/
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*текст кнопки*/
.form__button-text {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
}

.main-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1600px;
  /*padding: 0 215px 0;*/
  margin: 0 auto 0;
}

/*секция портфолто*/
.portfolio-navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  min-height: 1360px;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

/*скрытие оглавления*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*список навигации*/
.portfolio-navigation__list {
  width: 611px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/*элемент списка навигации*/
.portfolio-navigation__item {
  margin-right: 8px;
}

/*кнопки навигации проектов*/
.portfolio-navigation__button {
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  min-height: 38px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation__button:focus, .portfolio-navigation__button:hover {
  background: #2196F3;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-navigation__button--all {
  width: 78px;
}

.portfolio-navigation__button--web-site {
  width: 128px;
}

.portfolio-navigation__button--application {
  width: 145px;
}

.portfolio-navigation__button--design {
  width: 103px;
}

.portfolio-navigation__button--marketing {
  width: 130px;
}

/*секция проекты*/
.projects {
  margin-top: 34px;
  margin: 0 auto 0 auto;
}

/*скрытый элемент*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*список проектов*/
.projects__list {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

/*элемент списка пректов*/
.projects__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  padding-left: 30px;
  margin-top: 30px;
}

/*ссылка карточки проекта*/
.projects__card-link {
  text-decoration: none;
}

.projects__card-link:focus {
  display: block;
  width: 370px;
  height: 404px;
  /*outline: 2px solid black;*/
  background-color: #FFFFFF;
  /*border: 1px solid #EEEEEE;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__card-link:focus .thumb {
  position: absolute;
  /*top: 0;*/
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 100%;
  height: 100%;
}

/*карточка*/
.card {
  width: 370px;
  height: 404px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card:hover {
  display: block;
  width: 370px;
  height: 404px;
  background-color: #fff;
  /*border: 1px solid #EEEEEE;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*тумба карточки*/
.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__thumb:hover > .thumb {
  position: absolute;
  /*top: 0;*/
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 100%;
  height: 100%;
}

/*тумба*/
.thumb {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  cursor: default;
  background-color: rgba(33, 150, 243, 0.9);
}

/*текст тумбы*/
.thumb__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #fff;
}

/*подпись карточки*/
.card__caption {
  width: 322px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 24px;
  padding-left: 20px;
}

/*шапка карточки*/
.card__head {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

/*подпись карточки*/
.card__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */