@charset "UTF-8";
/*Шрифты*/
/*общее*/
/*использует logo; hover; focus; hero-bottom */
/*шапка*/
/*герой*/
/*особенности*/
/*чем мы занимаемся*/
/*наша команда*/
/*постоянные клиенты*/
/*подвал*/
/*ПОРТФОЛИО*/
/*cссылки навигации*/
/*каталог портфолио*/
/*портфолио*/
/*модальное окно*/
/*форма модального окна*/
/*Карточка портфолио*/
/*###ШАПКА###*/
/*блок шапка*/
.header {
  overflow: hidden;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1170px;
  max-width: 1600px;
  margin: 0 auto 0;
  padding: 0 215px 0;
  border-bottom: 1px solid #ECECEC;
  max-height: 80px;
}

/*блок логотипа*/
.logo {
  color: #000000;
  width: 145px;
  height: 31px;
  text-decoration: none;
  margin: 24px 93px 25px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.logo__left {
  color: #2196F3;
}

/*блок навигация*/
.navigation {
  margin: 0 305px 0 0;
}

/*список навигации*/
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

/*элемент списка навигвции*/
.navigation__item {
  position: relative;
  padding: 32px 0 32px 0;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

/*ссылки навигации*/
.navigation__link {
  display: block;
  text-decoration: none;
  color: #212121;
}

.navigation__link:hover {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:focus {
  color: #2196F3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*ссылка текущей страницы*/
.navigation__link--accent {
  color: #2196F3;
}

.navigation__link--accent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navigation__link--accent::after:hover {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navigation__link--underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px) scaleX(0);
          transform: translateY(1px) scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--underline:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px) scaleX(1);
          transform: translateY(1px) scaleX(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--underline:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transform: translateY(1px) scaleX(1);
          transform: translateY(1px) scaleX(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*блок контактов*/
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*ссылки контактов*/
.header__address-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  width: 161px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address-link:hover {
  color: #2196F3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address-link:focus {
  color: #2196F3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address-link--margin {
  margin-right: 0;
  width: 143px;
}

/*иконка почты*/
.header__address-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

/*иконка телефона*/
.header__address-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/*###ОСНОВНОЙ КОНТЕНТ###*/
/*Секция герой*/
.hero {
  min-height: 600px;
  margin: 0 auto 0;
  /*padding: 0 215px 0;*/
  /*overflow: hidden;*/
}

/* контейнер герой*/
.hero__conteiner {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/hero_background/background.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero_background/background.jpg");
}

/*скрытие загоровка*/
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*текст героя баннера*/
.hero__text {
  width: 696px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/*Кнопка героя*/
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: #2196F3;
}

.hero__button-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */