/*блок шапка*/
.header {
    max-width: 1600px;
    margin: 0 auto 0;
    padding: 0 215px 0;
    border-bottom: $border-line;

    overflow: hidden;
}

.header__conteiner {
    display: flex;
    min-width: 1170px;
    max-height: 80px;
}
/*блок логотипа*/
.logo {
    color: $logo-color;
    width: 145px;
    height: 31px;
    text-decoration: none;

    margin: 24px 93px 25px 0;

    font-family: $Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    /* identical to box height */

    letter-spacing: 0.03em;
}
.logo__left {
    color: $logo-accent-color;
}
.logo__right {
}
/*навигация*/
.navigation {
    margin: 0 305px 0 0;
}
.navigation__list {
    display: flex;
    width: 294px;
    list-style: none;
    padding: 0;
    margin: 0;

    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
.navigation__item {
    position: relative;
    padding: 32px 0 32px 0;
    
    &:not(:last-child){
        margin-right: 50px;
    }
}
.navigation__link {
    display: block;
    text-decoration: none;

    color: $navigation-color-link;

    &:hover {
        color: $accent-color;

        transition: color 250ms $change-algorithm;
    }
    &:focus{
        color: $accent-color;
        outline: none;

        transition: color 250ms $change-algorithm;
    }
}
.navigation__link--accent {
    color: $accent-color;

    &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        
        transform: translateY(1px);
    }
    &::after:hover {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        
        transform: translateY(1px);
    }
}
.navigation__link--underline {
    &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        
        transform: translateY(1px) scaleX(0);
        transition: transform 250ms $change-algorithm;
    }
    &:hover::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        
        transform: translateY(1px) scaleX(1);
        transition: transform 250ms $change-algorithm;
    }
    &:focus::after{
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        
        transform: translateY(1px) scaleX(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}