/*подвал*/
.footer {
    background-color: $footer-bgcolor;
}
/*секция подвал*/
.footer__section {
    max-width: 1600px;
    margin: 0 auto 0 auto;
}
/*контейнер подвала*/
.footer__conteiner {
    display: flex;
    justify-content: center;

    min-width: 1200px;
    margin: 0 auto 0 auto;
}
/*блок ссылок*/
.footer__links-conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px; 
}
/*группа ссылок*/
.footer__address {
    padding: 0;
    margin-top: 20px;
}
/*список ссылок*/
.footer__address__list{
    padding: 0;
    list-style: none;
}
/*элемент списка ссылок*/
.footer__address-contact {
    font-family: $Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;
    margin-top: 9px;
}
/*ссылка на гугл карту*/
.footer__location-on-map {
    color: $footer-map-color;
    text-decoration: none;

    &:focus {
        text-decoration: underline;
        outline: none;
    }
}
/*ссылка на почту и телефон*/
.footer__contact-link {
    color: $footer-address-contact;
    text-decoration: none;

    &:focus {
        text-decoration: underline;
        outline: none;
    }
}
/*блок ссылок соцсетей*/
.social {
    margin: 72px 0 100px 0;
}
/*текст призыва*/
.social__slogan {    
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: $footer-map-color;
}
/*список иконок соцсетей*/
.social__connect-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    list-style: none;
    padding: 0;
}
/*элементы списка*/
.social__connect-item {
    margin-right: 10px;
}
/*ссылка соцсети*/
.social__connect-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $logo-text-color-10p;
    color: $social-icon-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,&:hover {
        border-radius: 50%;
        background-color: $accent-color;
        outline: none;
    }
}
/*иконка соцсети*/
.social__connect-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
/*блок подписания на рассылку*/
.subscribe {
    width: 570px;
    height: 86px;
    margin: 72px 0 94px 93px;
}
/*призыв*/
.subscribe__slogan {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $subscribe-slogan;
}
/*форма подписания*/
.subscribe__form {
    display: flex;
}
/*поле ввода*/
.subscribe__input {
    width: 358px;
    height: 50px;
    margin-top: 20px;
    padding-left: 16px;

    border: 1px solid $input-border;
    border-radius: 4px;
    background-color: transparent;
    color: $footer-input-user-text;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
        border: 2px solid $accent-color; 
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }
}
/*кнопка*/
.subscribe__button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 12px;
    padding-left: 29px;
    padding-right: 28px;

    border: none;
    border-radius: 4px;
    background-color: $subscribe-button-color;

    box-shadow: 0px 4px 4px $button-shadow-box;
}
/*текст кнопки*/
.subscribe__button-text {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 187% */

    letter-spacing: 0.06em;

    color: $subscribe-button-text;
}
/*иконка кнопки*/
.subscribe__button-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}