.main-content {
    box-sizing: border-box;
    max-width: 1600px;
    padding: 0 215px 0;
    margin: 0 auto 0;
}
/*секция портфолто*/
.portfolio-navigation {
    box-sizing: border-box;
    width: 1170px;
    min-height: 1360px;
    margin-top: 94px;
    margin-bottom: 94px;
}
/*скрытие оглавления*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*список навигации*/
.portfolio-navigation__list {
    width: 611px;
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    padding: 0;
}
/*элемент списка навигации*/
.portfolio-navigation__item {
    margin-right: 8px;
}
/*кнопки навигации проектов*/
.portfolio-navigation__button {
    background-color: $portfolio-button-bgcolor;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: $portfolio-button-text-color;
    font-family: $Roboto;
    
    min-height: 38px;

    transition: background-color 250ms $change-algorithm, color 250ms $change-algorithm, box-shadow 250ms $change-algorithm;

    &:focus,&:hover {
        background: $portfolio-button-bgcolor-active;
        border: none;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        color: $portfolio-button-text-active-color;
        outline: none;

        transition: background-color 250ms $change-algorithm, color 250ms $change-algorithm, box-shadow 250ms $change-algorithm;
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                    0px 1px 2px rgba(0, 0, 0, 0.08), 
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &--all {
        width: 78px;
    }
    &--web-site {
        width: 128px;
    }
    &--application {
        width: 145px;
    }
    &--design {
        width: 103px;
    }
    &--marketing {
        width: 130px;
    }
}