/*секция наша команда*/
.our-team {
    background-color: $bgcolor-section-our-team;
}
/*оглавление секции*/
.our-team__head {
    margin: 0 auto ;

    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    color: $head-color;
}
/*контейнер наша команда*/
.our-team__conteiner {
    max-width: 1600px;
    min-height: 708px;
    margin: 94px auto 0 auto;
    padding-top: 94px;
}
/*список нашой команды*/
.our-team__list {
    min-width: 1200px;
    margin: 0 auto 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}
/*элемент списка*/
.our-team__item:not(:last-child) {
    margin-right: 30px; 
}
/*карточка члена команды*/
.our-team__card {
    width: 270px;
    height: 428px;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/*этикетка карточки*/
.our-team__card-caption {
    text-align: center;
    padding-top: 30px;
}
/*шапка карточки*/
.our-team__card-title {
    margin: 0;

    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: head-color;
}
/*специальность члена команды*/
.our-team__card-specialty {
    margin: 0;

    font-family: $Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: $card-text;
    margin-top: 10px;
}
/*список социальных сетей*/
.our-team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 44px;
    margin: 16px auto 30px auto;
    list-style: none;
    padding: 0;
}
/*элемент списка социальных сетей*/
.our-team__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
/*ссылка соцсети*/
.our-team__social-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: transparent;
    border-radius: 50%;
    /* margin-right: 10px; */
    color: $social-icon;

    transition-property: background-color,color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus {
        background-color: $accent-color;
        border-radius: 50%;
        color: $social-ico-acent;

        transition-property: background-color,color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

        outline: none;
    }
}
/*иконка соцсети*/
.our-team__social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}